/* Start Today Stats */
.today > h2 {
  color: rgb(188, 190, 200);
  padding: 0.5rem 0rem 0.5rem 1rem;
  border-bottom: 1px solid slategray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.today > h2 span:last-child {
  font-size: 60%;
  text-align: right;
  flex: 0 1 40%;
}
.today-stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.today-card {
  margin-bottom: 1%;
  background-color: #3a3a60;
  border-radius: 5px;
  flex: 0 0 33%;
}
.today-card:nth-child(1) {
  color: #5a96cf;
}
.today-card:nth-child(2) {
  color: #a87a79;
}
.today-card:nth-child(3) {
  color: rgb(43, 156, 43);
}
.today-card-inner-wrapper {
  line-height: 1.2rem;
  text-align: center;
}
.today-card pre {
  font-size: 250%;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 1100px) and (min-width: 501px) {
  .today-card {
    margin: 1% auto;
  }
  .today-card:nth-child(1) {
    flex: 0 0 48%;
  }
  .today-card:nth-child(2) {
    flex: 0 0 48%;
  }
  .today-card:nth-child(3) {
    flex: 0 0 98%;
  }
}
@media screen and (max-width: 500px) {
  .today-card {
    flex: 0 0 98%;
    margin: 1% auto;
  }
}

/* End Today Stats */

/* Start Total Stats Styles */
.total > h2 {
  color: rgb(188, 190, 200);
  padding: 0.5rem 0rem 0.5rem 1rem;
  border-bottom: 1px solid slategray;
}
.total-stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.total-card {
  color: azure;
  margin-bottom: 1%;
  border-radius: 2px;
  flex: 0 0 33%;
}
.total-card:nth-child(1) {
  background-color: #171f34;
}
.total-card:nth-child(2) {
  background-color: #1d1f34;
}
.total-card:nth-child(3) {
  background-color: #182130;
}

.total-card:nth-child(1) h2 {
  color: #5a96cf;
}
.total-card:nth-child(2) h2 {
  color: #a87a79;
}
.total-card:nth-child(3) h2 {
  color: rgb(43, 156, 43);
}
.total-card-inner-wrapper {
  line-height: 1.2rem;
  text-align: center;
}
.total-card pre {
  font-size: 250%;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 1100px) and (min-width: 501px) {
  .total-card {
    margin: 1% auto;
  }
  .total-card:nth-child(1) {
    flex: 0 0 48%;
  }
  .total-card:nth-child(2) {
    flex: 0 0 48%;
  }
  .total-card:nth-child(3) {
    flex: 0 0 98%;
  }
}
@media screen and (max-width: 500px) {
  .total-card {
    flex: 0 0 98%;
    margin: 1% auto;
  }
}
/* End Total Stats Styles */

/*Start Additional Stats Styles */
.additional > h2 {
  color: rgb(188, 190, 200);
  padding: 0.5rem 0rem 0.5rem 1rem;
  border-bottom: 1px solid slategray;
}
.additional-stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.additional-card {
  color: rgba(121, 253, 209, 0.8);
  font-size: 80%;
  margin-bottom: 1%;
  border-left: 5px solid greenyellow;
  flex: 0 1 24%;
}
.additional-card pre {
  font-size: 1.3rem;
  color: rgb(193, 240, 240);
}
.additional-card-inner-wrapper {
  padding: 0% 5%;
}
@media screen and (max-width: 1100px) and (min-width: 501px) {
  .additional-card {
    flex: 0 1 48%;
  }
}
@media screen and (max-width: 500px) {
  .additional-card {
    flex: 0 1 98%;
    margin: 1% auto;
  }
}
