@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  background-color: #1b2441;
}

/* All about Nav */
.nav-container {
  margin: 1%;
  padding: 0% 1%;
  border-radius: 5px;
  background-color: #29324f;
  color: rgb(194, 196, 207);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  border: 1px solid #1a2340;
  background-color: #29324f;
  text-decoration: none;
  color: rgb(119, 130, 158);
  padding: 0.5rem 3rem;
}
.nav-link:first-child {
  border-radius: 5px 0px 0px 5px;
}
.nav-link:last-child {
  border-radius: 0px 5px 5px 0px;
}
.nav-active {
  background-color: #161d2d;
  color: rgb(201, 208, 228);
}
/* Main Content */
.main-wrapper {
  margin-left: 1%;
  margin-right: 1%;
}

/* Loading Icon */
.loading {
  width: 4rem;
  margin-left: 45vw;
  margin-top: 10vh;
}

/* Footer */
footer {
  background-color: #2e3750;
  margin: 1%;
  color: aliceblue;
  border-radius: 5px;
  padding: 2rem 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  line-height: 130%;
}
footer section {
  flex: 0 0 48%;
}
footer a {
  color: aqua;
}
@media screen and (max-width: 1100px) {
  .nav-container {
    margin: 2%;
    padding-left: 5%;
  }
  .main-wrapper {
    margin-left: 2%;
    margin-right: 2%;
  }
}
@media screen and (max-width: 500px) {
  .nav-container {
    padding: 0% 0% 5% 0%;
    justify-content: center;
  }
  footer {
    margin: 5% 2%;
  }
  footer section {
    flex: 0 0 98%;
  }
}
