/* search bar styles start  */
.search-container {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.search-item {
  background: #3c4352;
  border-radius: 10px;
  padding: 1% 1%;
}
.search-input {
  background: #3c4352;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  min-height: 1.5rem;
  color: rgb(209, 240, 209);
  font-weight: 600;
  width: 80%;
}
.search-icon img {
  width: 20px;
}

.filter-type {
  background: #3c4352;
  border-radius: 10px;
  padding: 1% 1%;
  margin-right: 1%;
}

/* Start Not my code  */
.filter-type {
  position: relative;
  display: inline;
}
.filter-type:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  pointer-events: none;
}
.filter-type:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 0.3em;
  right: 1em;
  border-top: 8px solid rgb(255, 125, 125);
  opacity: 0.8;
}
.filter-type select::-ms-expand {
  display: none;
}
/* End Not my code  */
.filter-type select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #3c4352;
  border: none;
  min-height: 1.5rem;
  color: beige;
  font-size: 0.8rem;
}
@media screen and (max-width: 1100px) {
  .search-item {
    padding: 1% 2%;
  }
}
@media screen and (max-width: 500px) {
  .search-item {
    padding: 2% 5%;
    margin-top: 20px;
    flex-basis: 80%;
  }
  .filter-type {
    margin-right: 0%;
  }
}

/* search bar styles end  */

/* Services styles start  */
.services-container {
  display: flex;
  flex-wrap: wrap;
}
.service-item {
  flex: 0 1 22.5%;
  margin-left: 2%;
  background-color: rgb(41, 50, 79, 1);
  border-radius: 10px;
  margin-top: 2%;
  border-left: 2px solid chartreuse;
  color: azure;
}
.service-item:hover,
.service-item:focus {
  box-shadow: 0 5px 10px rgba(41, 50, 79, 0.4);
  background-color: rgb(41, 50, 79, 0.5);
}
.service-item-inner {
  padding: 0px 8px;
  line-height: 0.9rem;
}

.service-item .service-name {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: rgba(121, 253, 209, 0.8);
  font-weight: bold;
}
.service-item .service-type {
  font-size: 1rem;
  font-family: monospace;
}
.service-item-link {
  text-decoration: none;
  color: azure;
}
@media screen and (max-width: 1100px) {
  .service-item {
    flex: 0 1 30%;
    margin-left: 2.5%;
  }
}
/* additional breakpoint for better UX */
@media screen and (max-width: 700px) {
  .service-item {
    flex: 0 1 44%;
    margin-left: 4%;
  }
}
@media screen and (max-width: 500px) {
  .service-item {
    flex: 0 1 96%;
    margin-left: 2%;
  }
}
/* Services styles end */

/* Start styles for single service item page */
.service-item-page {
  color: azure;
  background-color: rgb(58, 58, 96);
  padding: 4% 5%;
  border-radius: 10px;
}

.service-item-page .service-phone {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.service-item-page .service-phone a {
  display: block;
  width: 9rem;
  text-decoration: none;
  margin-top: 0.2rem;
  padding: 0.5rem 1rem;
  background-color: rgb(164, 233, 132);
  border-radius: 10px;
}
.service-item-page .service-phone a:hover,
.service-item-page .service-phone a:hover {
  background-color: rgba(164, 233, 132, 0.1);
  color: azure;
}
.service-item-page .nav-link {
  display: block;
  width: 10em;
  text-align: center;
  border-radius: 5px;
}
.service-item-page .nav-link:hover,
.service-item-page .nav-link:focus {
  background-color: #161d2d;
  color: rgb(201, 208, 228);
}
@media screen and (max-width: 700px) {
}
@media screen and (max-width: 500px) {
}
/* End Styles for single service item page */
